<!-- <div class="container">
</div> -->
<mat-grid-list cols="1" rowHeight="15vh">
    <mat-grid-tile>
        <button class="no-outline" style="outline: none;border-color: #01bfbd;" mat-stroked-button color="primary"
            (click)="openAddTechnologyDialog()">Add New Tech </button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <div style="width: 80%;">
            <mat-card>1
            </mat-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div style="width: 80%;">
            <mat-card>2
            </mat-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div style="width: 80%;">
            <mat-card>3
            </mat-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div style="width: 80%;">
            <mat-card>4
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>