<div class="grid-container">
    <div></div>
    <div>
        <div class="card">
            <form [formGroup]="loginForm">
                <h3>Login</h3>
                <h5>Great to see you again!</h5>
                <div class="form-group">
                    <input type="text" placeholder="username@email.com" [formControl]="loginForm.controls['username']"
                    [ngClass]="(loginControls.username.errors?.required && submitted || loginControls.username.errors?.email && submitted) ? 'errClass': '' "
                    >
                    <div *ngIf="loginControls.username.errors?.required && submitted">
                        <label class="errMsg">Username is required</label>
                    </div>

                    <div *ngIf="loginControls.username.errors?.email && submitted">
                        <label class="errMsg">Enter valid email address</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Password" [formControl]="loginForm.controls['password']"
                    [ngClass]="loginControls.password.errors?.required && submitted ? 'errClass': '' "
                    >
                    <div *ngIf="loginControls.password.errors?.required && submitted">
                        <label class="errMsg">Password is required</label>
                    </div>
                </div>
            </form>
            <div class="form-group createNew">
                <a [routerLink]="['/register']">Create New</a>
            </div>
            <div class="form-group">
                <button (click)="loginUser()">SignIn</button>
            </div>

        </div>
    </div>
    <div></div>
</div>