.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.card {
  padding: 10%;
}

.createNew {
  line-height: 0.1;
  cursor: pointer;
}

.errClass {
  border: 1px solid red !important;
}

.createNew:hover {
  text-decoration: underline;
}

.mat-simple-snackbar {
    font-size: 16px !important;
}


button {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: flex;
  outline: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 16px;
  background: linear-gradient(rgb(123, 22, 255), rgb(113, 20, 234)) rgb(123, 22, 255);
  flex: 0 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(113, 20, 234);
  border-image: initial;
  transition: box-shadow 0.2s ease-in-out 0s;
}
