.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.card {
  padding: 10%;
}

.createNew {
  line-height: 0.1;
  cursor: pointer;
  font-size: 14px;
}

.errClass {
  border: 1px solid red !important;
}

.mat-simple-snackbar {
  font-size: 16px !important;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  outline: none;
  color: #fff;
}
