.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.card {
  padding: 10%;
}

.createNew {
  line-height: 0.1;
  cursor: pointer;
}

.errClass {
  border: 1px solid red !important;
}

.createNew:hover {
  text-decoration: underline;
}

.mat-simple-snackbar {
    font-size: 16px !important;
}
