<div class="grid-container" *ngIf="false">
    <div></div>
    <div>
        <mat-card>
            <form [formGroup]="registrationForm">
                <h3>Become a member...</h3>
                <h5>It's all starts here</h5>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="e.g.John Wick" [formControl]="registrationForm.controls['name']">
                        <mat-error *ngIf="registerControl.name.errors?.required">Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="username@email.com"
                            [formControl]="registrationForm.controls['email']">
                        <mat-error *ngIf="registerControl.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="registerControl.email.errors?.email">Enter valid email address</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                            [formControl]="registrationForm.controls['password']">
                        <mat-error *ngIf="registerControl.password.errors?.required">Password is required</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="form-group createNew">
                    Already have account?<a [routerLink]="['']"> Login here</a>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" style="outline: none;color: #fff;"
                        (click)="registerUser()">SignUp</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div></div>
</div>


<div class="alignCard">
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header text-center">Become a member...</div>
                <div class="meta text-center">It's all starts here</div>
                <div class="description">
                    <form [formGroup]="registrationForm" class="ui fluid form" autocomplete="off">

                        <div class="field required"
                            [ngClass]="submitted && registerControl.name.errors?.required ? 'error':''">
                            <label>Full Name</label>
                            <input type="text" placeholder="E.g. John Wick"
                                [formControl]="registrationForm.controls['name']">
                            <div class="ui pointing label" *ngIf="submitted && registerControl.name.errors?.required">
                                Please enter Full Name
                            </div>
                        </div>

                        <div class="field required"
                            [ngClass]="(submitted && registerControl.email.errors?.email || submitted && registerControl.email.errors?.required) ? 'error':''">
                            <label>Username</label>
                            <input type="text" placeholder="username@email.com"
                                [formControl]="registrationForm.controls['email']">
                            <div class="ui pointing label" *ngIf="submitted && registerControl.email.errors?.required">
                                Please enter username
                            </div>
                            <div class="ui pointing label" *ngIf="submitted && registerControl.email.errors?.email">
                                Please enter valid email address
                            </div>
                        </div>

                        <div class="field required"
                            [ngClass]="submitted && registerControl.password.errors?.required ? 'error':''">
                            <label>Password</label>
                            <div class="ui icon input">
                                <input [type]="hide ? 'password' : 'text'" placeholder="Password"
                                    [formControl]="registrationForm.controls['password']">
                                <i (click)="hide = !hide" class="circular icon link"
                                    [ngClass]="hide ? 'eye slash' : 'eye'"></i>
                            </div>
                            <div class="ui pointing label"
                                *ngIf="submitted && registerControl.password.errors?.required">
                                Please enter password
                            </div>
                        </div>

                        <div>
                            <button class="ui primary button" (click)="registerUser()">
                                Sign Up
                            </button>
                        </div>
                        <div class="ui divider"></div>
                        <div>
                            <button class="ui button" [routerLink]="['']">
                                <span class="meta">Already have account? </span> Sign In
                            </button>
                        </div>
                        <div class="ui success message" style="display: block;">
                            <i class="close icon"></i>
                            <div class="header">
                                Your user registration was successful.
                            </div>
                            <p>You may now log-in with the username you have chosen</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>