<div class="grid-container">
    <div></div>
    <div>
        <mat-card>
            <form [formGroup]="registrationForm">
                <h3>Become a member...</h3>
                <h5>It's all starts here</h5>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="e.g.John Wick" [formControl]="registrationForm.controls['name']">
                        <mat-error *ngIf="registerControl.name.errors?.required">Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="username@email.com"
                            [formControl]="registrationForm.controls['email']">
                        <mat-error *ngIf="registerControl.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="registerControl.email.errors?.email">Enter valid email address</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                            [formControl]="registrationForm.controls['password']">
                        <mat-error *ngIf="registerControl.password.errors?.required">Password is required</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="form-group createNew">
                    Already have account?<a [routerLink]="['']"> Login here</a>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" style="outline: none;color: #fff;"
                        (click)="registerUser()">SignUp</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div></div>
</div>