<div class="grid-container">
    <div></div>
    <div>
        <div class="card">
            <form [formGroup]="registrationForm">
                <h3>Become a member...</h3>
                <h5>It's all starts here</h5>
                <div class="form-group">
                    <input type="text" placeholder="e.g.John Wick" [formControl]="registrationForm.controls['name']"
                    [ngClass]="registerControl.name.errors?.required && submitted ? 'errClass': '' "
                    >
                    <div *ngIf="registerControl.name.errors?.required && submitted">
                        <label class="errMsg">Name is required</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="username@email.com"
                        [formControl]="registrationForm.controls['email']"
                        [ngClass]="(registerControl.email.errors?.required && submitted || registerControl.email.errors?.email && submitted) ? 'errClass': '' "
                        >
                    <div *ngIf="registerControl.email.errors?.required && submitted">
                        <label class="errMsg">Email is required</label>
                    </div>

                    <div *ngIf="registerControl.email.errors?.email && submitted">
                        <label class="errMsg">Enter valid email address</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Password" [formControl]="registrationForm.controls['password']"
                    [ngClass]="registerControl.password.errors?.required && submitted ? 'errClass': '' "
                    >
                    <div *ngIf="registerControl.password.errors?.required && submitted">
                        <label class="errMsg">Password is required</label>
                    </div>
                </div>
            </form>
            <div class="form-group createNew">
                Already have account?<a [routerLink]="['']"> Login here</a>
            </div>
            <div class="form-group">
                <button (click)="registerUser()">SignUp</button>
            </div>

        </div>
    </div>
    <div></div>
</div>