<div class="container">
    <div class="divTitle">
        <div class="title">
            <textarea id="title" autosize [minRows]="1" placeholder="Title..."></textarea>
        </div>
        <div class="settings">
            <div class="imgDiv">
                <img src="../../../assets/icons/bold.svg" class="icons" (click)="boldText()">
            </div>
            <div class="imgDiv">
                <img src="../../../assets/icons/italic.svg" class="icons" (click)="italicText()">
            </div>
            <div class="imgDiv">
                <img src="../../../assets/icons/source.svg" class="icons">
            </div>
            <div class="imgDiv">
                <img src="../../../assets/icons/image.svg" class="icons" (click)="uploadImage()">
                <input id="fileSelector" style="display: none;" type="file" (change)="openFileChooser($event)">
            </div>
        </div>
        <div class="content">
            <div id="story" contenteditable="true" placeholder="Tell your story...">
            </div>
        </div>
    </div>

    <div class="Publish">
        <button mat-raised-button color="primary" class="publishBtn" (click)="publish()">Publish your blog</button>
    </div>
</div>