/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

input[type="text"],
input[type="password"] {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  padding-left: 3%;
  border: 1px solid lightgrey;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: blue;
  border-width: 1px;
}

.errMsg {
  color: #E74C3C;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
